.place-order-section{
    margin: 50px 0;
}

.place-order-section .delivery-info h3{
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 50px;
}

.delivery-info form input{
    border: 1px solid #bdbdbd;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    color: #616161;
    border-radius: 10px;
}

.delivery-info form input:focus{
    outline: none;
}

.delivery-info form input::placeholder{
    color: #616161;
}

.delivery-info form .multi-fields{
    display: flex;
    gap: 10px;
}