.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add h1{
    color: orangered;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.add-form{
    gap: 20px;
}

.add-img-upload img{
    width: 120px;
    cursor: pointer;
}

.add-product-name,
.add-product-description{
    width: max(40%,400px);
}

.add-product-name input,
.add-product-description textarea{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.add-category-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.add p{
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.add-category-price select, 
.add-category-price input{
    max-width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.add-btn{
    width: 100%;
    padding: 10px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}

.add-btn:hover{
    background-color: #a9a9a9;
    color: orangered;
}

input:focus,
textarea:focus,
select:focus{
    outline: none;
}