.cart-section{
    margin: 100px 0;
}

.mobile-cart-section{
    display: none;
}

.cart-section .table{
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.cart-section .table th{
    text-transform: capitalize;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 600;
    background-color: lightgray;
    padding: 15px 10px;
    color: #49557e;
}


.cart-section .table td{
    /* border: none; */
    align-content: center;
    background-color: #ededed;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    width: 155px;
}


.cart-section .table img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.cart-section .table tr:hover img{
    transform: scale(1);
}

.cart-section .quantity-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 20px;
}

.quantity-btns .plus {
    color: #49557e;
    cursor: pointer;
}

.quantity-btns .minus {
    color: #49557e;
    cursor: pointer;
}

.quantity-btns .plus:hover,
.quantity-btns .minus:hover{
    color: orangered;
}
.quantity-btns .quantity {
    width: 10px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #49557e;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}


.cart-section .table .remove{
    text-align: center;
}

.cart-section .table .remove .icon{
    font-size: 22px;
}

.cart-section .table .remove .icon:hover{
    color: orangered;
}


/* cart-total-section */

.row{
    padding-top: 50px;
}

.cart-total-section h4{
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
}

.cart-total-section .total-titles-price{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.total-titles-price .total-titles ul,
.total-titles-price .total-prices ul{
    padding: 0;
    list-style: none;
    line-height: 40px;
}

.total-titles-price .total-titles li,
.total-titles-price .total-prices li{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}

.total-titles-price .total-titles li:last-child,
.total-titles-price .total-prices li:last-child{
    font-weight: 800;
    font-size: 20px;
}

.cart-total-section button{
    background-color: orangered;
    text-transform: capitalize;
    color: #fff;
    border: none;
    width: 50%;
    padding: 8px;
    border-radius: 10px;
}

.cart-total-section button:hover{
    background-color: #49557e;
}

/* promo-code-section */

.promo-code-section p{
    font-size: 16px;
    font-weight: 500;
}

.promo-code-section .promo-input-btn{
    display: flex;
    gap: 10px;
}

.promo-code-section .promo-input-btn input{
    background-color: #bdbdbd;
    color: #616161;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.promo-code-section .promo-input-btn input::placeholder{
    color: #616161;
}

.promo-code-section .promo-input-btn input:focus{
    outline: none;
}

.promo-code-section .promo-input-btn button{
    background-color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.promo-code-section .promo-input-btn button:hover{
    background-color: #616161;
}


@media (min-width: 320px) and (max-width:480px){
    .cart-section{
        display: none;
    }
    .mobile-cart-section{
        display: block;
        padding: 80px 20px;
    }
    .mobile-cart-section .heading{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .mobile-cart-section .heading h1{
        font-weight: 700;
        margin: 0;
        font-size: 20px;
    }
    .mobile-cart-section .added-items{
        display: flex;
        justify-content: space-between;
        margin:30px 0;
        border-bottom: 2px solid #ededed;
        padding-bottom: 20px;
    }
    .mobile-cart-section .added-items .image{
        width: 80px;
        height: 80px;
    }
    .mobile-cart-section .added-items .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .mobile-cart-section .added-items .details {
        min-width: 50%;
    }

    .mobile-cart-section .added-items .details h4{
       font-size: 18px;
       text-transform: capitalize;
       font-weight: 700;
    }
    .mobile-cart-section .added-items .details h5{
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 700;
        color: gray;
        margin: 0;
     }

    .mobile-cart-section .added-items .details .quantity-btn{
        display: flex;
        gap: 10px;
        align-items: center;
        padding-top: 10px;
    }
    .mobile-cart-section .added-items .details .quantity-btn .quantity{
        font-size: 16px;
        font-weight: 700;
    }

    /* cart-total-section */

    .cart-total-section h4 {
        font-size: 20px;
    }
    .cart-total-section .total-titles-price {
        margin-top: 20px;
    }
    .total-titles-price .total-titles li, .total-titles-price .total-prices li {
        font-size: 16px;
    }
    .total-titles-price .total-titles li:last-child, .total-titles-price .total-prices li:last-child {
        font-size: 18px;
    }
    .cart-total-section button {
        background-color: orangered;
        text-transform: capitalize;
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 10px;
    }

    /* promo-code-section */
    .promo-code-section{
        margin-top: 30px;
    }
    .promo-code-section .promo-input-btn input {
        width: 70%;
    }
}