.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar .go-top {
    position: absolute;
    bottom: 0;
}

.navbar .logo {
    width: 110px;
}

.navbar .navbar-nav {
    gap: 30px;
}

.navbar .navbar-nav .nav-link {
    color: #49557e;
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    transform: scale(0.99);
}

.navbar .navbar-nav .nav-link:hover {
    color: tomato;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.navbar .navbar-nav .active.nav-link {
    color: tomato;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right .icon {
    font-size: 25px;
    color: #49557e;
    cursor: pointer;
}

.navbar-right .icon:hover {
    color: tomato;
}

.navbar .login button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 2px solid #49557e;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    transform: 0.3s;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .login button:hover {
    background-color: tomato;
    border: 2px solid tomato;
    color: #fff;
}

.navbar-cart-icon {
    position: relative;
}

.navbar-cart-icon .dot {
    position: absolute;
    color: tomato;
    top: -14px;
    right: -12px;
    font-size: 15px;
    font-weight: 600;
}


/* custom-dropdown-toggle */

.custom-dropdown-toggle::after {
    display: none;
}

/* dropdown */


.custom-drop-item {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-weight: 600 !important;
    gap: 8px;
    color: #49557e !important;
}

.custom-drop-item:hover {
    color: tomato !important;
}


/* mobile response */

@media (min-width:320px) and (max-width:480px) {

    .navbar {
        background-color: #ededed;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        margin-bottom: 20px;
    }

    .navbar-toggler {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar .navbar-nav {
        gap: 30px;
        padding: 20px 20px 50px;
    }

    .navbar .active {
        padding-bottom: 2px;
        width: 50px;
        border-bottom: 2px solid tomato;
    }

    .navbar-right {
        padding: 0 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}