.question{
    padding: 50px 0;
}
.question h2{
    text-align: center;
    text-transform: capitalize;
    color: #49557e;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: default;
}

.question .order-image{
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.question .order-image img{
    width: 100%;
    height: 100%;
}

.question .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282932;
    padding: 0;
}

.question .question-part{
    padding: 50px;
}

.question-part h1{
    color: #fff;
    font-weight: 700;
    cursor: default;
}

.question-part h3{
    color: tomato;
    font-weight: 700;
    font-size: 35px;
    cursor: default;
}

.question-part p{
    color: #fff;
    font-size: 18px;
    cursor: default;
}

.question .icons-part ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.question .icons-part li{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    text-align: center;
    text-transform: capitalize;
    gap: 20px;
    cursor: pointer;
}

.question .icons-part .icon{
    font-size: 60px;
    color: rgb(255, 128, 0);
    transform: translateY(25%);
    transition: transform 0.3s ease;
}

.question .icons-part li:hover .icon{
    transform: translateY(0);
}
