.header{
    height: 600px;
    background: url("/header_img.png") no-repeat;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 400;
    color: white;
    font-size: max(4.5vw,22px);
    font-family: "Pacifico", cursive;
    cursor: default;
}
.header-contents p{
    color: white;
    font-size: 18px;
    cursor: default;
}
.header-contents button{
    border: none;
    color: tomato;
    font-weight: 500;
    padding: 10px 30px;
    background-color: white;
    font-size: 17px;
    border-radius: 50px;
    text-transform: capitalize;
}

.header-contents button:hover{
    background-color: #49557e;
    color: white;
}

@media (min-width:320px) and (max-width:480px) {
    .header {
        height: 370px;
        position: relative;
    }
    .header-contents p {
        font-size: 16px;
    }
    .header-contents {
        position: absolute;
        gap: 1.5vw;
        max-width: 100%;
        bottom: 20%;
        left: 6vw;
    }
}