.header{
    height: 600px;
    background: url("/header_img.png") no-repeat;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 400;
    color: white;
    font-size: max(4.5vw,22px);
    font-family: "Pacifico", cursive;
    cursor: default;
}
.header-contents p{
    color: white;
    font-size: 18px;
    cursor: default;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 10px 30px;
    background-color: white;
    font-size: 17px;
    border-radius: 50px;
    text-transform: capitalize;
}

.header-contents button:hover{
    background-color: #49557e;
    color: orangered;
}

/* cards */

.slider-container{
    margin: 100px 0;
}

.slider-container .recent-food-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;

}

.slick-slide{
    padding: 0 10px;
}


.recent-food-card .image{
    width: 100%;
    height: 280px;
}

.recent-food-card .image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.recent-food-card .discount-percentage{
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: orangered;
}

.recent-food-card .discount-percentage h5{
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.recent-food-card .discount-percentage span{
    font-weight: 400;
    font-size: 20px;
}

.slider-container h4{
    background-color: #fff4f2;
    color: orangered;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
    margin: 20px 0 0 0;
    
}
